## Functional Requirements

1. Login
2. Logout
3. Create New Account
4. Delete Account
5. User Home Page (w/messages of users they follow) -- Koe
6. Send message to followers -- Wilson
7. Follow User -- Koe
8. Search for User -- Brenna
9. User Profile -- Wilson
10. Send/Receive Messages -- Timothy
11. Post Reactions (?)
12. *Post Image with Message

## Non-functional Requirements

1. Works on Chrome
2. Mobile/Desktop
3. Localization -- Language Support
4. Can support 3 simultaneous users

## Use Cases

5. Use Case Name: User Home Page (w/messages of users they follow)

Pre-condition: User must have account and must be logged in 

Trigger: 
User clicks on login 

Primary Sequence:
  
  1. User clicks on username textbox
  2. User types username
  3. User clicks on password textbox
  4. User types password
  5. User click on login
  6. User will be taken to his/her homepage

Primary Postconditions: User is able to view his/her homepage with the messages 
that user follows
   
6. Use Case Name: Follow User
   
Pre-condition: User must have account and must be logged in 

Trigger: 
User clicks on "Follow" box

Primary Sequence:
  
  1. User clicks on search box 
  2. User types in the name to search
  3. User clicks on search or enter button
  4. The system shows possible usernames 
  5. User clicks on the username that he/she wants to follow
  6. User clicks "Follow" box

Primary Postconditions: User can see other users' profiles 

   
   

